@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300');


:root {
  --color-black: #000;
  --color-white: #F4F5F7;
  --color-primary: #9681EA;
  --font-body: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-body);
}

.container {
  width: 100vw;
  display: grid;
  place-items: center;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: var(--color-black);
}

.nav__logo {
  color: var(--color-primary);
  font-size: 2rem;
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__list-item {
  margin: 0 1rem;
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.5rem;
}

.form {
  width: 70%;
  display: grid;
  place-items: center;
  margin: 2rem 0 0;
}

.form__control {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
}

.form__control input {
  width: 100%;
  height: 45px;
  border: 1px solid var(--color-primary);
  outline: none;
  background: transparent;
  color: var(--color-primary);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.form__control button {
  background: var(--color-primary);
  color: var(--color-white);
  outline: none;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 45px;
  display: grid;
  place-items: center;
}

.stack {
  width: 100%;
  padding: 0 1rem;
}

.stack__result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack__result h1 {
  text-transform: capitalize;
  color: var(--color-primary);
}

.stack__result-flex {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
}

.stack__result-flex p {
  font-size: 1.5rem;
}

.stack__result-flex button {
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 0.5rem;
  background: transparent;
  cursor: pointer;
  color: var(--color-primary);
  font-size: 1.5rem;
  transition: 0.5s all ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stack__result-flex button:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

.stack__result-column {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.stack__result-column div {
  margin: 1rem 0;
}

.stack__result-column ul {
  list-style: none;
}

.stack__result-column h4 {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.spinner {
  transform: rotate(90deg);
  width: 30px;
  height: 30px;
}

.spinner__path {
  stroke-linecap: round;
  stroke-dasharray: 360;
  stroke-width: 2;
  stroke: #FFF;
  fill: transparent;
  animation: spin 2s ease-in-out 0s normal forwards infinite;
}

@keyframes spin {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 40;
  }
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
}
